@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Courier New', Courier, monospace;
}
.body {
    background-color: #ffff;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
}
.container1 { 
    display: flex;
    flex-wrap: wrap;
    max-width: 1366px;
    background-color: rgb(73, 73, 73);
}

.menu {
    width: 95%;
    text-align: end;
    padding-top: 20px;
}

.menu a{
    color: white;
    text-decoration: none;
    font: bold;
    margin-right: 30px;
    justify-content: end;
}

.container2{

    display:flex ;
    justify-content: space-between;
    align-items: center;
    height: 5%;
}


.icone-menu{
    height: 40px;
}

.banner {
    height:0px;
    
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;

}

.jogos {
    height: 100px;
    background-color: rgb(46, 42, 42);
}

.Container{
    display: flex;
    justify-content: center;
    align-items: center;

}
section .cardnews{
    display: flex;
    
    padding: 20px;
}

section .button{
    width: 1%;
    justify-content: center;
    justify-items: center;
}
.texto-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
}

.posicionamento-jogos{
    height: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.posicionamento-jogos img{
    width: 230px;
}

.Container{
    background-color: rgb(77, 75, 77);
    padding-top: 30px;

}

.Container h2{
    font-family: 'Roboto';
    color:white ;
    font-size: 23px;

}

footer{
    background-color: rgb(88, 83, 83);
}

.rodape{
    padding: 5px 0;
    display: flex;
    justify-content: space-between;

    color: rgb(255, 255, 255);
}

.sociais{
    width: 50%;
}

.sociais p{
    font-family: 'Tittiluium Web';
}

.sociais form{
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin-bottom: 10px;
}

.sociais input[type="email"]{
    height: 30px;
    width: 40%;
    border-radius: 50px;
    border-style: none;
    text-indent: 5px;
}

.sociais button{
    width: 20%;
    color: white;
    background-color: rgb(25, 0, 250);
    border-radius: 30px;
    border: none;
}

.siga{
    display:flex;
    justify-content: left;
    flex-wrap: wrap;
}

.roda-pe{ 
    width: 100px;

}
    

/*login*/

.header-loging{
    background-color: rgb(73, 73, 73);
     
}

#logo-gameshop{
    position: left;
    margin-left: 42%;
}

#login {
    background-color:rgb(73, 73, 73);
}

.login1{
    position: center;
    background: #242424;
    height: 400px;
    width: 400px;
    margin-left: 35%;
    border-radius: 10px;
    margin-top: 1%;

}

#palavramestre{
    list-style: none;
    margin-top: 50px;
    position: relative;
    top: 50px;
    left: 100px;
    height: 30px;

}

#Usuario{
    border: 0;
    outline: 0;
    display: flex;
    background: #962323;
    position: center;
    margin-left: 40%;

}

#Senha{
    border: 0; 
    outline: 0;
    display: flex;
    background: #242424;
}

#text-user{    
    position: absolute;
    top: 40%;
    margin-left: 1%;
    font-family: 'Courier New', Courier, monospace;

}

#text-pass{
    position: absolute;
    top: 53%;
    margin-left: 2%;
}

#top-entrar{
    position: initial;
    top: 90%;
    margin-left: 35%;
    font-size: 30px;
    
}

.coluna5{
    position: relative;
    top: 120px;
    left: 15%;
    display: flex;
    align-items: center;
    
}





